@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <style type="text/css">
            .container {
                position: relative;
                max-width: 500px;
            }
            nav {
                position: absolute;
                left: 0px;
                width: 200px;
                border: solid 1px black;
            }
            section {
                margin-left: 200px;
                padding-left: 20px;
                height: 100px;
                border: solid 1px blue;
            }
            footer {
                position: fixed;
                bottom: 0;
                left: 0;
                height: 70px;
                background-color: white;
                width: 100%;
                border: solid 1px red;
            }
            body {
                margin-bottom: 120px;
            }
        </style>
</head>
<body>
    <div>
        <div class="containter">
            <nav>
                <ol>
                    <li>
                        Home
                    </li>
                </ol>
            </nav>
            <section>
                <p>
                    Hello hommies
                </p>
            </section>
            <section>
                <p>
                    Hello hommies
                </p>
            </section>
            <section>
                <p>
                    Hello hommies
                </p>
            </section>
        </div>
    </div>
</body>
    <footer>
        <p>hello</p>
    </footer>
</html>
