<form method="get" action="@Url.Action("Index", "Home", null)">

    <input id="searchBox" type="search" name="s" placeholder="Search, someone has it..." 
        data-yackimo-autocomplete="@Url.Action("Autocomplete", "Home", null)"/>
    <input id="searchButton" type="submit" value="Go" />

</form>